@keyframes moveLines {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.line {
  animation: moveLines linear normal;
  transform: translateX(-100%); /* Inicia fuera de la pantalla */
}